input{
    padding: 10px;
    position: relative;
    bottom: 15px;
    left: 5px;
    width: calc(100% - 30px);
}

.employee-card{
    line-height: 1.4;
    background: #96f2fb;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.header{
    background: #6abac7;
    padding: 10px;
    margin: -10px;
    margin-bottom: 25px;
    color: #ffffff;
}